In [1]:
# importing basic libraries
import json
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# connecting the mongodb with python
from pymongo import MongoClient
client = MongoClient('mongodb+srv://root:admin123@mongodb.mgmyj.mongodb.net/')
db = client['sample_airbnb']
collection = db['listingsAndReviews']
documents = collection.find()

In [3]:
# converting mongodb data to dataframe
raw_df = pd.DataFrame(list(documents))
raw_df.head(1)

,_id,listing_url,name,summary,space,description,neighborhood_overview,notes,transit,access,...,availability,review_scores,reviews,weekly_price,monthly_price,cleaning_fee,first_review,last_review,security_deposit,reviews_per_month
0,10057447,https://www.airbnb.com/rooms/10057447,Modern Spacious 1 Bedroom Loft,"Prime location, amazing lighting and no annoyi...",Lot's of plants and lights. Really great mode...,"Prime location, amazing lighting and no annoyi...",,,,,...,"{'availability_30': 0, 'availability_60': 0, '...",{},[],NaN,NaN,NaN,NaT,NaT,NaN,NaN

In [4]:
# copy the dataframe
df = raw_df.copy()

In [5]:
# column names
df.columns

Index(['_id', 'listing_url', 'name', 'summary', 'space', 'description',
       'neighborhood_overview', 'notes', 'transit', 'access', 'interaction',
       'house_rules', 'property_type', 'room_type', 'bed_type',
       'minimum_nights', 'maximum_nights', 'cancellation_policy',
       'last_scraped', 'calendar_last_scraped', 'accommodates', 'bedrooms',
       'beds', 'number_of_reviews', 'bathrooms', 'amenities', 'price',
       'extra_people', 'guests_included', 'images', 'host', 'address',
       'availability', 'review_scores', 'reviews', 'weekly_price',
       'monthly_price', 'cleaning_fee', 'first_review', 'last_review',
       'security_deposit', 'reviews_per_month'],
      dtype='object')

In [6]:
# find the dictionary type columns
def find_json_columns(df):
    json_columns=[]
    for column in df.columns:
        if df[column].apply(lambda x: isinstance(x,dict)).any():
            json_columns.append(column)
    return json_columns

In [7]:
# find the json type columns
json_columns = find_json_columns(raw_df)
print("json structure records are present below columns",json_columns)

json structure records are present below columns ['images', 'host', 'address', 'availability', 'review_scores']

In [8]:
# comparing the number of reviews column and review_scores

df[['number_of_reviews','review_scores']]

      number_of_reviews                                      review_scores
0                     0                                                 {}
1                     0                                                 {}
2                     1  {'review_scores_accuracy': 10, 'review_scores_...
3                    51  {'review_scores_accuracy': 9, 'review_scores_c...
4                    96  {'review_scores_accuracy': 9, 'review_scores_c...
...                 ...                                                ...
5550                 40  {'review_scores_accuracy': 10, 'review_scores_...
5551                  0                                                 {}
5552                 20  {'review_scores_accuracy': 9, 'review_scores_c...
5553                107  {'review_scores_accuracy': 10, 'review_scores_...
5554                 90  {'review_scores_accuracy': 10, 'review_scores_...

[5555 rows x 2 columns]

In [9]:
df['review_scores'].iloc[2]

{'review_scores_accuracy': 10,
 'review_scores_cleanliness': 10,
 'review_scores_checkin': 10,
 'review_scores_communication': 10,
 'review_scores_location': 10,
 'review_scores_value': 10,
 'review_scores_rating': 100}

In [10]:
zero_review_scores = {'review_scores_accuracy':0,
 'review_scores_cleanliness': 0,
 'review_scores_checkin': 0,
 'review_scores_communication': 0,
 'review_scores_location': 0,
 'review_scores_value': 0,
 'review_scores_rating': 0}

In [11]:
df['review_scores'].iloc[5550]

{'review_scores_accuracy': 10,
 'review_scores_cleanliness': 10,
 'review_scores_checkin': 10,
 'review_scores_communication': 10,
 'review_scores_location': 10,
 'review_scores_value': 10,
 'review_scores_rating': 97}

In [12]:
# coverting the review column records based on number_of reviews column
df['review_scores']=df.apply(lambda row: zero_review_scores if row['number_of_reviews'] == 0 and row['review_scores'] == {} else row['review_scores'], axis=1)

In [13]:
# checking the remaining {} records
df[df['review_scores']=={}].shape

(84, 42)

In [14]:
nan_review_score = {'review_scores_accuracy':np.nan,
 'review_scores_cleanliness': np.nan,
 'review_scores_checkin': np.nan,
 'review_scores_communication': np.nan,
 'review_scores_location': np.nan,
 'review_scores_value': np.nan,
 'review_scores_rating': np.nan}

In [15]:
df['review_scores']=df.apply(lambda row: nan_review_score if row['review_scores'] == {} else row['review_scores'], axis=1)

In [16]:
# re verify the review score as {} value
df[df['review_scores']=={}]['review_scores'].shape

(0,)

In [17]:
# normalize the json_columns to dataframe
for column in json_columns:
    normalized_df = pd.json_normalize(raw_df[column])
    df = pd.concat([df.drop(columns=[column]),normalized_df],axis=1)
df.shape

(5555, 77)

In [18]:
df['longitude'] = df['location.coordinates'].apply(lambda x:x[0])
df['latitude'] = df['location.coordinates'].apply(lambda x:x[1])
df[['longitude','latitude']]

       longitude   latitude
0     -73.591110  45.518890
1     -43.230750 -22.966254
2      29.031330  40.985850
3      -8.613080  41.141300
4    -157.839190  21.286340
...          ...        ...
5550  -73.574530  45.523240
5551  151.282410 -33.888180
5552   -8.606220  41.151270
5553   -8.616930  41.151370
5554  -43.176533 -22.961076

[5555 rows x 2 columns]

In [19]:
df.drop(columns=['location.type','location.is_location_exact','location.coordinates'],axis =1,inplace=True)

In [20]:
df.shape

(5555, 76)

In [21]:
[f"({col}------ {int(df[col].isnull().sum())})"  for col in df.columns if df[col].isnull().sum()]

['(bedrooms------ 5)',
 '(beds------ 13)',
 '(bathrooms------ 10)',
 '(weekly_price------ 4841)',
 '(monthly_price------ 4899)',
 '(cleaning_fee------ 1531)',
 '(first_review------ 1388)',
 '(last_review------ 1388)',
 '(security_deposit------ 2084)',
 '(reviews_per_month------ 5461)',
 '(host_response_time------ 1388)',
 '(host_response_rate------ 1388)',
 '(review_scores_accuracy------ 1476)',
 '(review_scores_cleanliness------ 1473)',
 '(review_scores_checkin------ 1475)',
 '(review_scores_communication------ 1474)',
 '(review_scores_location------ 1474)',
 '(review_scores_value------ 1475)',
 '(review_scores_rating------ 1474)']

In [22]:
# finding the null columns
null_columns = [column for column in df.columns if df[column].isnull().sum()> 0]
null_columns

['bedrooms',
 'beds',
 'bathrooms',
 'weekly_price',
 'monthly_price',
 'cleaning_fee',
 'first_review',
 'last_review',
 'security_deposit',
 'reviews_per_month',
 'host_response_time',
 'host_response_rate',
 'review_scores_accuracy',
 'review_scores_cleanliness',
 'review_scores_checkin',
 'review_scores_communication',
 'review_scores_location',
 'review_scores_value',
 'review_scores_rating']

In [23]:
# coverting the decimal128 to float
from bson.decimal128 import Decimal128
def convert_decimal128_to_float(value):
    if isinstance(value, Decimal128):
        return float(value.to_decimal())
    return value
for col in df.columns:
    df[col]=df[col].apply(convert_decimal128_to_float)
    

df.dtypes

_id                        object
listing_url                object
name                       object
summary                    object
space                      object
                           ...
review_scores_location    float64
review_scores_value       float64
review_scores_rating      float64
longitude                 float64
latitude                  float64
Length: 76, dtype: object

In [24]:
null_numeric_columns = df[null_columns].select_dtypes(include='number').columns
null_categorical_columns = df[null_columns].select_dtypes(include='object').columns
null_datetime_columns = df[null_columns].select_dtypes(include='datetime64[ns]').columns
print("null numeric columns are :\n",null_numeric_columns)
print("null categorical columns are :\n",null_categorical_columns)
print("null date-time columns are :\n",null_datetime_columns)

null numeric columns are :
 Index(['bedrooms', 'beds', 'bathrooms', 'weekly_price', 'monthly_price',
       'cleaning_fee', 'security_deposit', 'reviews_per_month',
       'host_response_rate', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'review_scores_rating'],
      dtype='object')
null categorical columns are :
 Index(['host_response_time'], dtype='object')
null date-time columns are :
 Index(['first_review', 'last_review'], dtype='object')

In [25]:
def handle_missing_values(num,cat,dat):
    for col in num:
        df[col] = df[col].fillna(df[col].median())
    for col in cat:
        df[col] = df[col].fillna(df[col].mode().iloc[0])
    df.drop(columns=list(dat),inplace=True)

In [26]:
handle_missing_values(null_numeric_columns,null_categorical_columns,null_datetime_columns)

In [27]:
[f"({col}------ {int(df[col].isnull().sum())})"  for col in df.columns if df[col].isnull().sum()]

[]

In [31]:
df.columns[df.isnull().sum()>0]

Index([], dtype='object')

In [35]:
df['reviews'].iloc[2]

[{'_id': '68162172',
  'date': datetime.datetime(2016, 4, 2, 4, 0),
  'listing_id': '10047964',
  'reviewer_id': '33536670',
  'reviewer_name': 'Mihra',
  'comments': "Zeynep was a most welcoming and generous host, with a gorgeous, comfortable flat - as advertised! The flat is light and spacious, kitchen well-equipped, bed comfortable (both beds actually), and bathroom clean, with great shower pressure. Zeynep prepared a note with key information about the flat, which was great to have for reference. I especially appreciated the ground coffee and coffee maker. The fact that there was a desk in the house made my stay all the more comfortable - I had a proper place to sit down at my computer.\r\n\r\nIt's clear that Zeynep has put a lot of care into making her flat a home - it's an awesome flat! \r\n\r\nZeynep lives a five min walk to the sea, with a great park along the water front. There are plenty of hip cafes and coffee shops in the neighborhood (Moda), all a short walk from the flat. And it's only a 15 mins walk to the Kadikoy ferry, which offers easy access to the rest of Istanbul."}]

In [ ]:
# Plotting with 1x4 matrix layout
for col in df.columns:
    fig, axs = plt.subplots(1, 4, figsize=(20, 5))
    
    # Histogram
    axs[0].hist(df[col].dropna(), bins=30, edgecolor='k', alpha=0.7)
    axs[0].set_title(f'Histogram of {col}')
    axs[0].set_xlabel(col)
    axs[0].set_ylabel('Frequency')
    axs[0].grid(True)
    
    # Boxplot
    sns.boxplot(x=df[col].dropna(), ax=axs[1])
    axs[1].set_title(f'Boxplot of {col}')
    axs[1].set_xlabel(col)
    axs[1].grid(True)
    
    # Distribution plot
    sns.histplot(df[col].dropna(), kde=True, ax=axs[2])
    axs[2].set_title(f'Distribution Plot of {col}')
    axs[2].set_xlabel(col)
    axs[2].set_ylabel('Frequency')
    axs[2].grid(True)
    
    # Correlation heatmap for the whole DataFrame
    if len(null_numeric_columns) > 1:
        corr = df[null_numeric_columns].corr()
        sns.heatmap(corr, annot=True, cmap='coolwarm', fmt='.2f', ax=axs[3])
        axs[3].set_title('Correlation Heatmap')
    
    plt.tight_layout()
    plt.show()

In [ ]:
for col in null_categorical_columns:
    fig, axs = plt.subplots(1, 4, figsize=(20, 5))
    
    # Histogram
    axs[0].hist(df[col].dropna(), bins=30, edgecolor='k', alpha=0.7)
    axs[0].set_title(f'Histogram of {col}')
    axs[0].set_xlabel(col)
    axs[0].set_ylabel('Frequency')
    axs[0].grid(True)
    
    # Boxplot
    sns.boxplot(x=df[col].dropna(), ax=axs[1])
    axs[1].set_title(f'Boxplot of {col}')
    axs[1].set_xlabel(col)
    axs[1].grid(True)
    
    # Distribution plot
    sns.histplot(df[col].dropna(), kde=True, ax=axs[2])
    axs[2].set_title(f'Distribution Plot of {col}')
    axs[2].set_xlabel(col)
    axs[2].set_ylabel('Frequency')
    axs[2].grid(True)
    
    # Correlation heatmap for the whole DataFrame
    if len(null_categorical_columns) > 1:
        corr = df[null_categorical_columns].corr()
        sns.heatmap(corr, annot=True, cmap='coolwarm', fmt='.2f', ax=axs[3])
        axs[3].set_title('Correlation Heatmap')
    
    plt.tight_layout()
    plt.show()

In [ ]:
for col in null_datetime_columns:
    fig, axs = plt.subplots(1, 4, figsize=(20, 5))
    
    # Histogram
    axs[0].hist(df[col].dropna(), bins=30, edgecolor='k', alpha=0.7)
    axs[0].set_title(f'Histogram of {col}')
    axs[0].set_xlabel(col)
    axs[0].set_ylabel('Frequency')
    axs[0].grid(True)
    
    # Boxplot
    sns.boxplot(x=df[col].dropna(), ax=axs[1])
    axs[1].set_title(f'Boxplot of {col}')
    axs[1].set_xlabel(col)
    axs[1].grid(True)
    
    # Distribution plot
    sns.histplot(df[col].dropna(), kde=True, ax=axs[2])
    axs[2].set_title(f'Distribution Plot of {col}')
    axs[2].set_xlabel(col)
    axs[2].set_ylabel('Frequency')
    axs[2].grid(True)
    
    # Correlation heatmap for the whole DataFrame
    if len(null_datetime_columns) > 1:
        corr = df[null_datetime_columns].corr()
        sns.heatmap(corr, annot=True, cmap='coolwarm', fmt='.2f', ax=axs[3])
        axs[3].set_title('Correlation Heatmap')
    
    plt.tight_layout()
    plt.show()

In [ ]:
df[null_datetime_columns].shape

In [ ]:
dfs=[]
for review in df['reviews']:
    normalized_df = pd.json_normalize(review)
    dfs.append(normalized_df)
review_df = pd.concat(dfs,ignore_index=True)
review_df.shape

In [ ]:
review_df

In [ ]:
len(null_numeric_columns)+len(null_categorical_columns)+len(null_datetime_columns)-len(df.columns[df.isnull().sum()>0])

In [55]:
# handling missing values of numeric values as median and categorical for mode
def fill_numeric(columns):
    for column in columns:
        df[column]=df[column].fillna(df[column].median())
def fill_categoric(columns):
    for column in columns:
        df[column]= df[column].fillna(df[column].mode().iloc[0][0])

In [56]:
fill_numeric(null_numeric_columns)
fill_categoric(null_categorical_columns)

In [ ]:
df.columns[df.isnull().sum()>0]

In [ ]:
df[df[null_datetime_columns].notna()]

In [ ]:
df

In [ ]:
df.columns[df.isnull().sum()>0]

In [36]:
from Config.config import read_config

config = read_config()
user = config['mongodb']['user']
password = config['mongodb']['password']
cluster = config['mongodb']['cluster']
client = MongoClient(f'mongodb+srv://{user}:{password}@{cluster}/')
db = client['mongodb']['db']
collection = db['mongodb']['collection']
documents = collection.find()

ModuleNotFoundError: No module named 'Config'